<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/tinkers/assets/favicon.0093d36b.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
		<title>Random Jokes</title>
		<script type="module" crossorigin src="/tinkers/assets/random-jokes.d8910991.js"></script>
		<link rel="modulepreload" href="/tinkers/assets/modulepreload-polyfill.b7f2da20.js">
		<link rel="modulepreload" href="/tinkers/assets/index.a6bd87ba.js">
		<link rel="stylesheet" href="/tinkers/assets/random-jokes.a3f0025f.css">
	</head>
	<body>
		<div id="random-jokes" v-scope>
			<div @vue:mounted="fetchNewJoke">
				<blockquote v-if="showQuote">{{joke}}</blockquote>
				<button @click="fetchNewJoke">New Random Joke</button>
			</div>

			<dialog open v-if="modal">
				<p>Error has occured!</p>
				<form method="dialog">
					<button @click="hideModal">Ok</button>
				</form>
			</dialog>
		</div>
		
	</body>
</html>
